<div class="span5 offset4 ice-box text-center">
	<h1 class="awesome-sauce">
		The 1980's never ended.
	</h1>

	<br/>

	<h2>
		Waters not blue, time to move
	</h2>

	<br/>

	<%=link_to 'Launch', '#', :class =>'btn btn-primary btn-large' %>

</div>